.client-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjusted to be responsive */
   height: 100%;
    padding: 10px;
}

.heading {
    color: red;
}

.subheading {
    font-weight: bold;
}

.span {
    color: #808080;
    font-weight: 200;
}

.imagecontainer {
    width: auto;
    height: auto;
    color: red;
}

.imagecontainer img {
    width: 100%;
    height: auto;
    background-color: red;
    text-align: center;
    padding: 100px;
}
